.ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  background-color: white !important;
}
.bottom-header {
  .ant-collapse {
    background-color: transparent;

    .ant-collapse-item {
      border-bottom: none;
    }

    .ant-collapse-header {
      padding: 12px 16px;
      background-color: white;
      font-weight: 500;
    }

    .ant-collapse-content {
      background-color: white;
      border-top: none;
    }
  }

  .ant-input::placeholder {
    color: #989898;
  }

  .ant-btn-text:hover {
    background-color: transparent;
    color: #2684e5;
  }
}
